body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #dddddd;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.login-left {
    display: none;
    text-align: center;
    padding: 20px;
}

.login-right {
    padding: 20px;
    width: 100%;
}

.login-right h4 {
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.input-group-text {
    background-color: #dc3545; 
    color: white;
}

.form-control {
    background-color: #fafafa;
    border: 1px solid #ffffff;
    color: white;
}

@media (min-width: 576px) {
    .login-container {
        max-width: 500px;
    }
}

@media (min-width: 768px) {
    .login-container {
        flex-direction: row;
        max-width: 800px;
    }

    .login-left {
        display: block;
        flex: 1;
        text-align: center;
        padding: 20px;
    }

    .login-right {
        flex: 2;
        padding: 20px;
    }
}
